<kt-base-modal [title]="'Change Password'">
    <!--begin::Body-->

    <!--begin::Signin-->
    <div modal-body>
        <!--begin::Form-->
        <form class="kt-form" [formGroup]="changePasswordForm" autocomplete="false">
            <div class="form-group">
                <label for="exampleInputEmail1">Old Password</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Enter Email" formControlName="oldPassword"
                    [ngClass]="{ 'is-invalid': changePasswordForm.controls.oldPassword?.touched   && changePasswordForm.controls.oldPassword?.errors}">
                <span class="text-danger"
                    *ngIf="(changePasswordForm.controls.oldPassword?.touched)  && changePasswordForm.controls.oldPassword.errors?.required">
                    Old Password is required.
                </span>
                <span class="text-danger"
                    *ngIf="(changePasswordForm.controls.oldPassword?.touched) && changePasswordForm.controls.oldPassword.errors?.minlength ">
                    Old Password is can't be less than 8 characters.
                </span>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="text" class="form-control" id="password" aria-describedby="password"
                    placeholder="Enter Password" formControlName="password"
                    [ngClass]="{ 'is-invalid': changePasswordForm.controls.password?.touched   && changePasswordForm.controls.password?.errors}">
                <span class="text-danger"
                    *ngIf="(changePasswordForm.controls.password?.touched)  && changePasswordForm.controls.password.errors?.required">
                    Password is required.
                </span>
                <span class="text-danger"
                    *ngIf="(changePasswordForm.controls.password?.touched) && changePasswordForm.controls.password.errors?.minlength ">
                    Password is can't be less than 8 characters.
                </span>
                <div>
                    <span class="text-danger"
                        *ngIf="changePasswordForm.value.password !== changePasswordForm.value.confirmPassword">
                        Passwords does not match.
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="text" class="form-control" id="confirmPassword" aria-describedby="confirmPassword"
                    placeholder="Re-enter Password" formControlName="confirmPassword"
                    [ngClass]="{ 'is-invalid': changePasswordForm.controls.confirmPassword?.touched   && changePasswordForm.controls.confirmPassword?.errors}">
                <span class="text-danger"
                    *ngIf="(changePasswordForm.controls.confirmPassword?.touched)  && changePasswordForm.controls.confirmPassword.errors?.required">
                    Confirm Password is required.
                </span>
                <span class="text-danger"
                    *ngIf="(changePasswordForm.controls.confirmPassword?.touched) && changePasswordForm.controls.confirmPassword.errors?.minlength ">
                    Confirm Password is can't be less than 8 characters.
                </span>
                <div>
                    <span class="text-danger"
                        *ngIf="changePasswordForm.value.password !== changePasswordForm.value.confirmPassword">
                        Confirm Passwords does not match.
                    </span>
                </div>
            </div>
            <!--end::Action-->
        </form>
        <!--end::Form-->
        <!--end::Forgetpassword-->
        <!--end::Body-->

        <!--begin::Footer-->
        <div style="justify-content: space-between !important;
        display: flex;">
            <button type="button" class="btn btn-outline-primary" (click)="close()">Close</button>
            <button type="submit" class="btn btn-primary" (click)="onSubmit()">Save</button>
        </div>
    </div>
    <!--end::Footer-->
</kt-base-modal>
