.kt-subheader {
    margin: 0;
    padding: 0 !important;
    height: 46px;
    display: flex;
    align-items: center;
  
    .kt-container {
      position: fixed;
      left: 0;
      right: 0;
      z-index: 79;
      background: #fff;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      border-top: 1px solid #eff0f6;
    }
  }
  