<div *ngIf="options.header && options.header.show" class="kt-subheader kt-table-subheader kt-grid__item">
    <div class="kt-container kt-container--fluid px-3">
      <div class="kt-subheader__main">
  
        <h5 class="mr-3 mb-0">
          {{options?.header?.title | translate}}
        </h5>
  
        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
  
        <span class="kt-subheader__desc" *ngIf="count">{{count}} Total</span>
  
      </div>
      <div class="kt-subheader__toolbar">
  
        <!--  begin: extra buttons -->
        <ng-container *ngFor="let button of options?.header?.buttons">
            <!-- <button type="button" (click)="buttonClick($event)"></button> -->
          <kt-button [buttonConfig]="button" (buttonClick)="buttonClick($event)"></kt-button>
        </ng-container>
        <!--  end: extra buttons -->
  
        <!--  begin: extra dropdowns -->
        <ng-container *ngFor="let dropdown of options?.header?.dropdowns">
          <!-- <kt-dropdown [dropdownConfig]="dropdown" (dropdownClick)="dropdownClick($event)"></kt-dropdown> -->
        </ng-container>
        <!--  end: extra dropdowns -->
  
      </div>
    </div>
  </div>