.modal-body {
    .text-success {
      color: #0abb87 !important;
    }
    .alert {
      margin-bottom: 0 !important;
      &.alert-solid-success {
        background: rgba(10, 187, 135, 0.1);
        border-color: transparent;
        color: #0abb87 !important;
      }
    }
  }
  