<div class="modal-content">

    <!-- modal header start -->
    <div class="modal-header">
      <h5 class="modal-title text-{{className}}">{{options.title | translate}}</h5>
      <button type="button text-{{className}}" class="close" (click)="close()" aria-label="Close">
      </button>
    </div>
    <!-- modal header end -->
  
    <!-- modal body start -->
    <div class="modal-body">
      <div class="alert alert-solid-{{className}} alert-bold">
        <span class="alert-icon ">
          <span *ngIf="options.type === modalType.WARNING"><i class="flaticon-warning"></i></span>
          <span *ngIf="options.type === modalType.SUCCESS_CONFIRM"><i class="flaticon-warning"></i></span>
          <span *ngIf="options.type === modalType.DELETE"><i class="flaticon-delete"></i></span>
          <span *ngIf="options.type === modalType.SUCCESS"><i class="flaticon2-accept"></i></span>
          <span *ngIf="options.type === modalType.INFO"><i class="flaticon2-information"></i></span>
          <span *ngIf="options.type === modalType.ALERT"><i class="flaticon2-information"></i></span>
          <span *ngIf="options.type === modalType.ERROR"><i class="flaticon2-information"></i></span>
        </span>
        <span class="alert-text">{{( options.message || 'ERROR.GLOBAL_ERROR' )| translate}}<b
            *ngIf="options?.messageHighlight">{{ ( options?.messageHighlight)| translate }}</b></span>
      </div>
    </div>
    <!-- modal body end -->
  
    <!-- modal footer start -->
    <div class="modal-footer">
  
      <!-- close button setup start -->
      <button
        *ngIf="options.type === modalType.INFO || options.type === modalType.ALERT || options.type ===  modalType.SUCCESS || options.type ===  modalType.ERROR"
        type="button" class="btn btn-outline-{{className}}" (click)="close()">
        <i *ngIf="options.buttons" [class]="options.buttons?.button3.icon"></i>
        {{options.buttons?.button3?.text || 'Close'}}
      </button>
      <!-- close button setup end -->
  
      <!-- cancel button setup start -->
      <button
        *ngIf="options.type === modalType.DELETE || options.type === modalType.WARNING || options.type === modalType.SUCCESS_CONFIRM"
        type="button" class="btn btn-outline-{{className}}" (click)="cancel()">
        <i *ngIf="options.buttons" [class]="options.buttons?.button3?.icon"></i>
        {{options.buttons?.button2?.text || 'Cancel'}}
      </button>
      <!-- cancel button setup end -->
  
      <!-- delete button setup start -->
      <button *ngIf="options.type === modalType.DELETE" type="button" class="btn btn-danger" (click)="delete()">
        <i *ngIf="options.buttons" [class]="options.buttons.button3.icon"></i>
        {{options.buttons?.button1?.text || 'Delete'}}
      </button>
      <!-- delete button setup end -->
  
      <!-- ok button setup start -->
      <button *ngIf="options.type === modalType.WARNING || options.type === modalType.SUCCESS_CONFIRM" type="button"
        class="btn btn-{{className}}" (click)="ok()">
        <i *ngIf="options.buttons" [class]="options.buttons?.button3?.icon"></i>
        {{options.buttons?.button1?.text || 'Ok'}}
      </button>
      <!-- ok button setup start -->
  
    </div>
  </div>
  <!-- modal footer end -->
  