<div class="kt-grid kt-grid--ver kt-grid--root">
  <div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v5 kt-login" id="kt_login">
    <div
      class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile background-layer">
      <div class="kt-login__left">
        <div class="kt-login__wrapper">
          <div class="kt-login__content">
            <a class="kt-login__logo" href="javascript:;">
              <img src="../../../../assets/media/logogs/logo-login.png">
            </a>

            <h3 class="kt-login__title">All In One Solution for your WorkForce.</h3>

            <span class="kt-login__desc">
              Schedule | Timesheet | Client | Employee | Rewards and much more ....
            </span>
          </div>
        </div>
      </div>

      <div class="kt-login__right">
        <div class="kt-login__wrapper">
          <div class="kt-login__body">
            <div class="">
              <div class="kt-login__title">
                <h3 style="font-weight: 600;">Sign In</h3>
              </div>

              <form class="kt-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">

                <div class="form-group">
                  <label for="exampleInputEmail1">Email Address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Enter Email" formControlName="email"
                    [ngClass]="{ 'is-invalid': loginForm.controls.email?.touched   && loginForm.controls.email?.errors}">
                  <span class="text-danger"
                    *ngIf="(loginForm.controls.email?.touched)  && loginForm.controls.email.errors?.required">
                    E-mail is required.
                  </span>
                  <span class="text-danger"
                    *ngIf="(loginForm.controls.email?.touched) && loginForm.controls.email.errors?.pattern ">
                    E-mail is invaild.
                  </span>
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                    else.</small>
                </div>

                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Password"
                    formControlName="passWord"
                    [ngClass]="{ 'is-invalid': (loginForm.controls.passWord.touched || loginForm.controls.passWord.dirty) && loginForm.controls.passWord.errors }">
                  <span class="text-danger"
                    *ngIf="(loginForm.controls.passWord.touched || loginForm.controls.passWord.dirty) && loginForm.controls.passWord.errors?.required  ">
                    Password is required.
                  </span>
                  <span class="text-danger"
                    *ngIf="(loginForm.controls.passWord.touched || loginForm.controls.passWord.dirty)  && loginForm.controls.passWord.errors?.minlength ">password
                    can't be less than 8 characters.
                  </span>
                </div>

                <div class="kt-login__actions d-flex align-items-center justify-content-between">
                  <a href="javascript:;" routerLink="forgot-password" class="kt-link kt-login__link-forgot">
                    Forgot Password
                  </a>
                  <button type="submit" class="btn btn-primary">Sign In</button>
                </div>

              </form>

            </div>
          </div>

          <!-- <div class="kt-login__head">
            <span class="kt-login__signup-label">Don't have an account yet?</span>&nbsp;&nbsp;
            <a href="javascript:;" class="kt-link kt-login__signup-link">Sign Up</a>
          </div> -->

        </div>
      </div>
    </div>
  </div>
</div>