<div class="kt-grid kt-grid--hor kt-grid--root kt-header--fixed">

    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">

        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper d-flex flex-column"
            id="kt_wrapper">
            <kt-header></kt-header>
            <!-- class="page-content" -->
            <div class="flex-fill">
                <router-outlet></router-outlet>
            </div>

            <!-- <app-footer></app-footer> -->
            <kt-footer></kt-footer>
        </div>

    </div>
</div>