<div class="input-group  sa-date-picker">

    <!-- datepicker config starts -->
    <input type="text" class="form-control cursor-pointer {{setting?.classNames?.input}}"
      placeholder="{{setting?.templateOptions?.placeholder | translate}}" format="setting.format"
      (click)="d.toggle();$event.stopPropagation();" [(ngModel)]="value" [minDate]="minDate" [maxDate]="maxDate"
      ngbDatepicker [footerTemplate]="t" #d="ngbDatepicker" container="body" (ngModelChange)="notifyChange()">
    <!-- datpicker config ends -->
  
    <!-- icon append start -->
    <div class="input-group-append cursor-pointer">
      <span class="input-group-text" (click)="d.toggle();$event.stopPropagation();">
        <i class="la la-calendar"></i>
      </span>
    </div>
    <!-- icon append end -->
  
    <ng-template #t>
      <div class="text-center p-1">
        <button class="btn btn-brand btn-sm mr-1" (click)="value = today; notifyChange();">Today</button>
        <button class="btn btn-secondary btn-sm" (click)="value = null; notifyChange();">Clear</button>
      </div>
    </ng-template>
  
  </div>