<kt-base-modal [title]="'My Profile'">
    <!--begin::Body-->

    <!--begin::Signin-->
    <div modal-body>
        <!--begin::Form-->
        <form class="kt-form" [formGroup]="myProfileForm" autocomplete="false">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" aria-describedby="firstName"
                    placeholder="Enter Email" formControlName="firstName"
                    [ngClass]="{ 'is-invalid': myProfileForm.controls.firstName?.touched   && myProfileForm.controls.firstName?.errors}">
                <span class="text-danger"
                    *ngIf="(myProfileForm.controls.firstName?.touched)  && myProfileForm.controls.firstName.errors?.required">
                    First Name is required.
                </span>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" aria-describedby="lastName"
                    placeholder="Enter lastName" formControlName="lastName"
                    [ngClass]="{ 'is-invalid': myProfileForm.controls.lastName?.touched   && myProfileForm.controls.lastName?.errors}">
                <span class="text-danger"
                    *ngIf="(myProfileForm.controls.lastName?.touched)  && myProfileForm.controls.lastName.errors?.required">
                    lastName is required.
                </span>
            </div>

            <div class="form-group">
                <label for="lastName">E-mail</label>
                <input type="text" class="form-control" id="email" aria-describedby="email" placeholder="Enter E-mail"
                    formControlName="email">
            </div>

            <div class="form-group">
                <label for="age">Age</label>
                <input type="text" class="form-control" id="age" aria-describedby="age" placeholder="Enter Age"
                    formControlName="age">
            </div>

            <div class="form-group">
                <label for="mobile">Mobile</label>
                <input type="number" class="form-control" id="mobile" aria-describedby="mobile" placeholder="Mobile"
                    formControlName="mobile">
            </div>
            <!--end::Action-->
        </form>
        <!--end::Form-->
        <!--end::Forgetpassword-->
        <!--end::Body-->

        <!--begin::Footer-->
        <div style="justify-content: space-between !important;
        display: flex;">
            <button type="button" class="btn btn-outline-primary" (click)="closeClickHandler()">Close</button>
            <button type="submit" class="btn btn-primary" (click)="onSubmit()">Save</button>
        </div>
    </div>


    <!--end::Footer-->
</kt-base-modal>