<!-- Page body -->
<!--begin::Body-->

<div class="container pt-5">

    <div class="row">
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">Add User</h3>
                </div>
            </div>

            <div class="container pt-3">
                <form class="kt-form mx-3 " autocomplete="off" [formGroup]="userForm" (ngSubmit)="onSubmit()">
                    <div class="row ds_s4">
                        <div class="form-group col-md-6">
                            <label for="firstname">First Name</label>
                            <input type="text" class="form-control" id="firstname" placeholder="First Name"
                                formControlName="firstName"
                                [ngClass]="{ 'is-invalid': userForm.controls.firstName.touched && userForm.controls.firstName.errors }">
                            <span class="text-danger"
                                *ngIf="(userForm.controls.firstName.touched) && userForm.controls.firstName.errors?.required">
                                First Name is required
                            </span>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="lastname">Last Name</label>
                            <input type="text" class="form-control" id="lastname" placeholder="Last Name"
                                formControlName="lastName"
                                [ngClass]="{ 'is-invalid': userForm.controls.lastName.touched && userForm.controls.lastName.errors }">
                            <span class="text-danger"
                                *ngIf="(userForm.controls.lastName.touched) && userForm.controls.lastName.errors?.required">
                                Last Name is required
                            </span>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="gender">Gender</label>
                            <select id="gender" class="form-control">
                                <option selected>Select Your Option</option>
                                <option>MALE</option>
                                <option>FEMALE</option>
                                <option>OTHER</option>
                            </select>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="email">E-mail</label>
                            <input type="email" class="form-control" id="email" placeholder="E-mail"
                                formControlName="email">
                        </div>

                        <div class="form-group col-md-6">
                            <label for="age">Age</label>
                            <input type="number" class="form-control" id="age" placeholder="Age" formControlName="age">
                        </div>

                        <div class="form-group col-md-6">
                            <label for="country">Country</label>
                            <select id="country" class="form-control">
                                <option selected>Select Your Option</option>
                                <option>INDIA</option>
                                <option>CHINA</option>
                                <option>JAPAN</option>
                            </select>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="mobile">Mobile</label>
                            <input type="number" class="form-control" id="mobile" placeholder="Mobile"
                                formControlName="mobile">
                        </div>

                    </div>

                    <!-- Footer start -->
                    <div class="modal-footer px-0">
                        <button type="button" class="btn btn-outline-primary"
                            (click)="closeClickHandler()">Cancel</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    <!-- Footer End -->
                </form>
            </div>
            <!--end::Body-->
            <!-- Page body -->
        </div>
    </div>
</div>