.footer {
    // position: fixed;
    // bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #f5f5f5;
    padding: 15px;
    text-align: right;
    // z-index: 15000;
    border-top: 1px solid #eee;
  }
  