<div class="btn-group {{dropdownConfig?.classNames?.dropdown}}">
	<!-- untoggle template render start -->
	<button *ngIf="dropdownConfig.showUnToggle" class="btn {{dropdownConfig?.classNames?.dropdownUnToggle}}">
		<i *ngIf="dropdownConfig?.toggleOptions?.unToggleIcon" class="{{dropdownConfig?.toggleOptions?.unToggleIcon}}"></i>
		{{dropdownConfig?.toggleOptions?.unToggleText}}
	</button>
	<!-- untoggle template render end -->

	<!-- toggle section start -->
	<div class="btn-group" ngbDropdown [placement]="dropdownConfig.placement">
		<!-- dropdown toggle button start -->
		<button ngbDropdownToggle class="btn dropup {{dropdownConfig?.classNames?.dropdownToggle}}"
			[ngClass]="{ 'dropdown-toggle': !dropdownConfig?.toggleOptions?.icon } ">
			<i *ngIf="dropdownConfig?.toggleOptions?.icon" class="{{dropdownConfig?.toggleOptions?.icon}}"></i>
			{{dropdownConfig?.toggleOptions?.toggleText}}
		</button>
		<!-- dropdown toggle button end -->

		<!-- dropdown menu start -->
		<div class="dropdown-menu {{dropdownConfig?.classNames?.dropdownMenu}}" ngbDropdownMenu>
			<ul class="kt-nav">

				<!-- dropdown menu header start -->
				<ng-container *ngIf="dropdownConfig.showHeader">
					<li class="kt-nav__head">
						<ng-template [ngTemplateOutlet]="header"></ng-template>
					</li>
					<li class="kt-nav__separator"></li>
				</ng-container>
				<!-- dropdown menu header end -->

				<!-- dropdown menu link option start -->
				<ng-container *ngFor="let option of dropdownConfig.options">
					<!-- default dropdown body starts -->
					<ng-container *ngIf="!bodyTemplate">
						<li *ngIf="option.seperator" class="kt-nav__separator"></li>
						<li class="kt-nav__item dropdown-item" *ngIf="!option.seperator">
							<a href="javascript:;" class="kt-nav__link" (click)="clickHandler(option)">
								<!-- begin: left icon -->
								<i *ngIf="option.left?.icon && option.left.show" class="kt-nav__link-icon {{option.left.icon}}"></i>
								<!-- end: left icon -->

								<!-- begin: middle text -->
								<span class="kt-nav__link-text"> {{option.text}} </span>
								<!-- end: middle text -->

								<!-- begin: right icon -->
								<i *ngIf="option.right?.icon && option.right.show" class="kt-nav__link-icon {{option.right.icon}}"></i>
								<!-- end: right icon -->

								<!-- begin: badge text -->
								<span class="kt-nav__link-badge" *ngIf="option.badge && option.badge?.text">
									<span
										class="kt-badge {{ option.badge?.className || 'kt-badge--success' }}">{{option.badge.text}}</span>
								</span>
								<!-- end: badge text -->
							</a>
						</li>
					</ng-container>
					<!-- default dropdown body ends -->
					<ng-container *ngIf="bodyTemplate">
						<!-- custom body template starts -->
						<ng-template [ngTemplateOutlet]="bodyTemplate" [ngTemplateOutletContext]="{$implicit: option}">
						</ng-template>
						<!-- custom body template ends -->
					</ng-container>
				</ng-container>
				<!-- dropdown menu link option end -->

				<!-- dropdown menu footer start -->
				<ng-container *ngIf="dropdownConfig.showFooter">
					<li class="kt-nav__separator"></li>
					<li class="kt-nav__foot">
						<ng-template [ngTemplateOutlet]="footer"></ng-template>
					</li>
				</ng-container>
				<!-- dropdown menu footer end -->

			</ul>
		</div>
		<!-- dropdown menu end -->

	</div>
	<!-- toggle section end -->
</div>

<!-- header template start -->
<ng-template #header>
	<ng-content select="[header]"></ng-content>
</ng-template>
<!-- header template end -->

<!-- footer template start -->
<ng-template #footer>
	<ng-content select="[footer]"></ng-content>
</ng-template>
<!-- footer template end -->