@import "../../global/layout/config";

$border-color: #e2e5ec;

.ng-select-container-checkbox {
	display: block;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	padding-left: 24px;
	margin-bottom: 0px;
	color: $font-color;

	.checkbox-input {
		position: absolute;
		cursor: pointer;
		width: 100%;
		height: 100%;
		right: 0;
		opacity: 0;
		z-index: 999;
	}
	input[type="checkbox"]:checked + label {
		color: kt-state-colors(danger, base);
		font-style: normal;
	}
	input {
		&:checked ~ .checkmark {
			background-color: kt-state-colors(light, base);
			&:after {
				display: block;
			}
		}
	}

	.checkmark {
		position: absolute;
		top: 0;
		left: 0;
		height: 17px;
		width: 17px;
		background-color: kt-state-colors(light, base);
		border: 1px solid $kt-brand-color;
		border-radius: 3px;
		&::after {
			content: "";
			position: absolute;
			display: none;
			left: 5px;
			top: 2px;
			width: 5px;
			height: 10px;
			border: solid $kt-brand-color;
			border-width: 0 2px 2px 0;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
		}
	}

	&:hover {
		input ~ .checkmark {
			background-color: kt-state-colors(light, base);
		}
	}
}

.ng-select {
	&:focus {
		outline-color: $kt-brand-color;
	}

	.ng-select-container {
		border-color: $border-color;
		&:hover {
			box-shadow: none;
		}
		.ng-value-container {
			.ng-placeholder {
				border-color: $border-color;
				color: #838799;
			}
		}
	}

	&.ng-select-opened > .ng-select-container {
		border-color: $border-color;
		.ng-arrow {
			border-color: transparent transparent $font-color;
		}
	}
	&.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
		border-color: $kt-brand-color;
		box-shadow: none;
	}
	.ng-clear-wrapper {
		color: $font-color;
	}
	.ng-arrow-wrapper {
		.ng-arrow {
			border-color: $font-color transparent transparent;
		}
	}
}

.multiselect-hight-auto {
	.ng-select {
		.ng-select-container {
			.ng-value-container {
				min-height: 30px;
				flex: auto;
				align-items: flex-start;
			}
		}
	}
}
.toggle-none {
	.ng-select .ng-arrow-wrapper {
		display: none;
	}
}
.ng-dropdown-panel,
.ng-dropdown-panel .ng-dropdown-header {
	border-color: $border-color;
}
.ng-option-label {
	color: $font-color;
}

.clear {
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 14px;
	cursor: pointer;
}
