//
// Topbar
//




$kt-topbar-icon-size: 42px;
$kt-topbar-mobile-icon-size: 31px;

// General mode
.kt-header__topbar {
	display: flex;
	align-items: stretch;
	padding: 0;
	justify-content: flex-end;
	flex-grow: 1;
	flex-basis: 0;
    max-width: 100%;
	
	// Topbar item
	.kt-header__topbar-item {
		display: flex;
		align-items: stretch;
		margin: 0 0.25rem;

		// Topbar wrapper
		.kt-header__topbar-wrapper {
			cursor: pointer;
			display: flex;
			align-items: stretch;

			.kt-badge:not(.kt-badge--username) {
				position: absolute;
				left: 50%;
				width: 4px;
				height: 4px;
				background-clip: padding-box; /* Firefox 4+, Opera, for IE9+, Chrome */
				margin-left: -1.5px;
				top: 15px;
			}

			.kt-header__topbar-icon {
				display: flex;
				align-items: center;
				align-self: center;
				justify-content: center;
				height: $kt-topbar-icon-size;
				width: $kt-topbar-icon-size;
				cursor: pointer;
				background: transparent; 
				@include kt-transition();

				@include kt-rounded {
					border-radius: $kt-border-radius;
				}

				i {
					line-height: 0;
					font-size: 1.3rem;
					color: kt-base-color(label, 2);
				}	
			}		
		}		

		// Item hover states
		&:hover,
		&.show {
			.kt-header__topbar-icon {
				@include kt-transition();
				background-color: $kt-brand-hover-color;
				
				i {
					color: kt-brand-color();
				}	
			}
		}

		// Languages
		&.kt-header__topbar-item--langs {
			margin-right: 1.5rem;

			.kt-header__topbar-icon {
				img {
					width: 22px;

					@include kt-rounded {
						border-radius: $kt-border-radius;
					}
				}
			}

			.dropdown-menu {
				.kt-nav__link-icon {
					padding-right: 10px;

					img {
						width: 18px;

						@include kt-rounded {
							border-radius: $kt-border-radius;
						}						
					}
				}
			}
		}		

		// User profile
		&.kt-header__topbar-item--user {

			// Welcome
			.kt-header__topbar-welcome {
				display: flex;
				align-self: center;
				padding: 0 0.55rem 0 0;
				font-weight: 500;
				font-size: 0.9rem;
				color: kt-base-color(label, 2);
			}

			// Username
			.kt-header__topbar-username {
				display: flex;
				align-self: center;
				padding: 0 0.55rem 0 0;
				font-weight: 500;
				font-size: 1rem;
				color: kt-base-color(label, 3);
			}

			// Wrapper
			.kt-header__topbar-wrapper {
				align-items: center;		

				img {
					align-self: center;
					height: $kt-topbar-icon-size;
				//	padding-right: 0.55rem;
					@include kt-rounded {
						border-radius: $kt-border-radius;
					}
				}
			}			
		}

		&:last-child {
			margin-right: 0;
		}
	}
}

// Tablet and mobile mode(1024px and below)
@include kt-tablet-and-mobile() {
	// Topbar
	.kt-header__topbar {
		padding: 0 kt-get($kt-page-padding, mobile);
		background-color: #fff;
		transition: all 0.3s ease;
		margin-top: -(kt-get($kt-header-config, topbar, height, mobile));
		height: kt-get($kt-header-config, topbar, height, mobile);
		position: absolute;
		left: 0;
		right: 0;
		justify-content: flex-end;
		border-top: 1px solid transparent;

		// Fixed mobile header
		.kt-header-mobile--fixed & {
			position: fixed;
			z-index: kt-get($kt-header-config, base, mobile, self, fixed, zindex) - 1;
		}

		// Topbar shown
		.kt-header__topbar--mobile-on & {
			margin-top: 0;
			transition: all 0.3s ease;
			box-shadow: kt-get($kt-header-config, base, mobile, self, fixed, box-shadow);
			border-top: 1px solid kt-base-color(grey, 2);
		}

		// Topbar item
		.kt-header__topbar-item {
			margin: 0 0.25rem;

			// Topbar wrapper
			.kt-header__topbar-wrapper {
				// Badge
				.kt-badge:not(.kt-badge--username) {
					top: 10px;
				}

				// Icon
				.kt-header__topbar-icon {
					height: $kt-topbar-mobile-icon-size;
					width: $kt-topbar-mobile-icon-size;

					i {
						font-size: 1.2rem;
					}	
				}
			}

			// Languages
			&.kt-header__topbar-item--langs {
				margin: 0 0.25rem;			
			}						

			// User
			&.kt-header__topbar-item--user {
				margin: 0 0.25rem;

				.kt-header__topbar-welcome {
					padding: 0 0.35rem 0 0;
					font-size: 0.9rem;
				}

				.kt-header__topbar-username {
					padding: 0 0.55rem 0 0;
					font-size: 0.9rem;
				}

				.kt-header__topbar-wrapper {
					img {
						max-height: $kt-topbar-mobile-icon-size;
						margin: 0 0.5rem 0 0.2rem;
					}
				}
			}	

			&:last-child {
				padding-right: 0 !important;
				margin-right: 0 !important;
			}
		}	
	}
}