.table-header.kt-inbox .kt-inbox__icon {
    height: 33px;
    width: 33px;
}
.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.p-datatable .p-datatable-header {
    background-color: #fff;
    padding: 0.5rem 0.5rem;
}
.p-datatable .p-sortable-column.p-highlight {
    color: $kt-brand-color;
}
.p-datatable .p-datatable-thead > tr > th {
    font-size: 13px;
    background-color: #f7f8fa;
    padding: 0.9rem 1.5rem;
}
.p-datatable .p-sortable-column {
    outline: none;
}
.p-checkbox {
    height: 18px;
    width: 18px;
}
.p-checkbox .p-checkbox-box {
    background: transparent;
    border-color: #e2e5ec;
    border-width: 1px;
    height: 18px;
    width: 18px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.p-checkbox .p-checkbox-box.p-highlight {
    border-color: $kt-brand-color;
    background: transparent;
}
.p-checkbox .p-checkbox-box:not(.p-disabled):hover {
    border-color: #e2e5ec;
}
.p-checkbox .p-checkbox-box.p-highlight:not(.p-disabled):hover {
    border-color: $kt-brand-color;
    background: transparent;
    color: $kt-brand-color;
}
.p-checkbox .p-checkbox-box .p-checkbox-icon {
    color: $kt-brand-color;
    font-size: 10px;
}
.p-datatable.p-datatable-hoverable-rows .p-datatable-tbody > tr:not(.p-highlight):hover {
    background: #f7f8fa;
}
.p-datatable .p-datatable-tbody > tr > td {
    font-size: 13px;
    font-weight: 300;
    padding: 4px 20px;
    height: 42px;
}
.p-paginator {
    justify-content: space-between !important;
    padding: 12px;
    border: 0;
}
.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background-color: $kt-brand-color;
}
.p-paginator .p-paginator-pages .p-paginator-page:focus {
    box-shadow: none;
}
.p-paginator .p-paginator-first,
.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-last {
    background: #f0f3ff;
    font-size: 0.6rem;
    line-height: 1rem;
    font-weight: 500;
    color: #93a2dd;
    transition: all 0.3s;
    box-shadow: none;
}
.p-paginator .p-paginator-first:not(.p-disabled):not(.p-highlight):hover,
.p-paginator .p-paginator-prev:not(.p-disabled):not(.p-highlight):hover,
.p-paginator .p-paginator-next:not(.p-disabled):not(.p-highlight):hover,
.p-paginator .p-paginator-last:not(.p-disabled):not(.p-highlight):hover,
.p-paginator .p-paginator-pages .p-paginator-page:not(.p-highlight):hover {
    background-color: $kt-brand-color;
    border-color: $kt-brand-color;
    color: #fff;
}
.p-paginator-bottom .dropdown-menu {
    min-width: 4em;
}
.p-datatable .p-datatable-tbody > tr {
    outline: none;
}
.p-datatable .p-datatable-tbody > tr.p-highlight {
    background: #ffffff;
    color: #495057;
}
.p-datatable .p-datatable-footer {
    padding: 0;
}
.p-datatable .p-paginator-bottom {
    padding: 0.5rem 0.5rem;
}
.p-datatable-flex-scrollable .p-datatable-scrollable-body {
    contain: strict;
}
