<!-- loader starts -->
<div *ngIf="_showLoader">
	<div class="loader-wrapper" [style.height]="loaderHeight" [style.width]="loaderWidth">
		<div class="kt-spinner kt-spinner--md kt-spinner--info">
		</div>
	</div>
</div>
<!-- loader ends   -->

<!-- content starts -->
<div #content [ngClass]="{ 'block-background' : _showLoader , 'h-100' : true}">
	<ng-content></ng-content>
</div>
<!-- content ends -->