.loader-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    position: absolute;
    width: inherit;
    z-index: 3;
  }
  
  .block-background {
    opacity: 0.5;
    pointer-events: none;
  }
  