<!-- begin: Header -->
<div class="kt-header kt-grid__item kt-header--fixed" id="kt_header">
    <div ktHeader #ktHeader class="kt-container kt-container--fluid">

        <!-- begin:: Brand -->
        <div class="kt-header__brand kt-grid__item" id="kt_header_brand">
            <div class="kt-header__brand-logo">
                <a href="javascript:;" routerLink="/">
                    <img alt="logo"
                        src="../../../../../assets/media/apps.51580.9007199266245428.b5ceed08-bbb1-405f-a13e-b3a257b7f7bc.png"
                        style="height: 50px; padding: 5px;" />
                </a>
            </div>
        </div>

        <!-- end:: Brand -->

        <!-- begin: Header Menu -->
        <!-- <kt-menu-horizontal *ngIf="menuHeaderDisplay"></kt-menu-horizontal> -->
        <!-- BEGIN: Horizontal Menu -->
        <button class="kt-header-menu-wrapper-close" id="kt_header_menu_mobile_close_btn"><i
                class="la la-close"></i></button>
        <div ktOffcanvasclass="kt-header-menu-wrapper" id="kt_header_menu_wrapper">

            <!-- begin: Menu toggle -->
            <!-- <button *ngIf="asideDisplay" class="kt-aside-toggler kt-aside-toggler--left" id="kt_aside_toggler"><span></span></button> -->
            <!-- end: Menu toggle -->

            <div ktMenu id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile">
                <ul class="kt-menu__nav kt-menu-nav">
                    <ng-container *ngFor="let item of menuHorService.menuList$ | async">
                        <!-- <ng-container *ngxPermissionsOnly="item.permission"> -->
                        <ng-container *ngIf="item.title" [ngTemplateOutlet]="menuTemplate"
                            [ngTemplateOutletContext]="{ item: item }">
                        </ng-container>
                        <!-- </ng-container> -->
                    </ng-container>
                </ul>
            </div>
        </div>
        <!-- END: Horizontal Menu -->
        <ng-template #menuTemplate let-item="item" let-parentItem="parentItem">
            <li [attr.aria-haspopup]="true" class="kt-menu__item kt-menu__item--rel kt-menu__item--here"
                [attr.data-ktmenu-submenu-toggle]="getItemAttrSubmenuToggle(item)" [ngClass]="getItemCssClasses(item)"
                [routerLinkActive]="['kt-menu__item--active']">
                <!-- if item has submenu -->
                <ng-container *ngIf="item.submenu">

                    <a href="javascript:;" class="kt-menu__link kt-menu__toggle">

                        <ng-container [ngTemplateOutlet]="menuItemInnerTemplate"
                            [ngTemplateOutletContext]="{ item: item, parentItem: parentItem }">
                        </ng-container>

                        <ng-container>
                            <!-- arrow icons -->
                            <i *ngIf="item.submenu && item.root" class="kt-menu__hor-arrow la la-angle-down"></i>
                            <i *ngIf="item.submenu && item.root" class="kt-menu__ver-arrow la la-angle-right"></i>
                        </ng-container>
                        <!-- else arrow icons -->
                        <i *ngIf="item.submenu && !item.root" class="kt-menu__hor-arrow la la-angle-right"></i>
                        <i *ngIf="item.submenu && !item.root" class="kt-menu__ver-arrow la la-angle-right"></i>
                    </a>
                </ng-container>

                <!-- if item hasn't sumbenu -->
                <ng-container *ngIf="!item.submenu">
                    <ng-container *ngIf="item.isModal && item.component">
                        <ng-container>

                            <a class="kt-menu__link kt-menu__toggle">
                                <ng-container [ngTemplateOutlet]="menuItemInnerTemplate"
                                    [ngTemplateOutletContext]="{ item: item, parentItem: parentItem }">
                                </ng-container>
                            </a>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngIf="!item.isModal">
                        <ng-container>

                            <a [routerLink]="item.page" [queryParams]="item.queryParams"
                                class="kt-menu__link kt-menu__toggle">
                                <ng-container [ngTemplateOutlet]="menuItemInnerTemplate"
                                    [ngTemplateOutletContext]="{ item: item, parentItem: parentItem }">
                                </ng-container>
                            </a>
                        </ng-container>
                    </ng-container>
                </ng-container>

                <!-- if menu item has submenu child then recursively call new menu item component -->
                <ng-container *ngIf="item.submenu">
                    <div class="kt-menu__submenu" [ngStyle]="{ 'width': item.submenu.width }">
                        <span class="kt-menu__arrow" [ngClass]="{ 'kt-menu__arrow--adjust': item.root }"></span>

                        <ul *ngIf="item.submenu?.length" class="kt-menu__subnav">
                            <ng-container *ngFor="let child of item.submenu">
                                <ng-container [ngTemplateOutlet]="menuTemplate"
                                    [ngTemplateOutletContext]="{ item: child, parentItem: item }">
                                </ng-container>
                            </ng-container>
                        </ul>

                        <ul *ngIf="item.submenu.items?.length" class="kt-menu__subnav">
                            <ng-container *ngFor="let child of item.submenu.items">
                                <ng-container [ngTemplateOutlet]="menuTemplate"
                                    [ngTemplateOutletContext]="{ item: child, parentItem: item }">
                                </ng-container>
                            </ng-container>
                        </ul>

                        <div *ngIf="item.submenu.type === 'mega' && item.submenu.columns?.length"
                            class="kt-menu__subnav">
                            <ul class="kt-menu__content">
                                <ng-container *ngFor="let child of item.submenu.columns">
                                    <ng-container [ngTemplateOutlet]="menuColumnTemplate"
                                        [ngTemplateOutletContext]="{ item: child }">
                                    </ng-container>
                                </ng-container>
                            </ul>
                        </div>

                    </div>
                </ng-container>
            </li>
        </ng-template>
        <!-- item inner -->
        <ng-template #menuItemInnerTemplate let-item="item" let-parentItem="parentItem">

            <!-- if menu item has icon -->
            <i *ngIf="item.icon" class="kt-menu__link-icon" [ngClass]="item.icon"></i>

            <ng-container *ngIf="!item.icon">
                <!-- if menu item using bullet -->
                <i *ngIf="parentItem && parentItem.bullet === 'dot' || item.bullet === 'dot'"
                    class="kt-menu__link-bullet kt-menu__link-bullet--dot">
                    <span></span>
                </i>
                <i *ngIf="parentItem && parentItem.bullet === 'line' || item.bullet === 'line'"
                    class="kt-menu__link-bullet kt-menu__link-bullet--line">
                    <span></span>
                </i>

                <ng-container *ngIf="!item.badge; else menuLinkBadge">

                    <span class="kt-menu__item-here"></span>
                    <!-- menu item title text -->
                    <span class="kt-menu__link-text" [translate]="item.translate">
                        {{item.title}}
                    </span>
                </ng-container>

                <ng-template #menuLinkBadge>
                    <!-- menu item with badge -->
                    <span class="kt-menu__link-text" [translate]="item.translate">{{item.title}}</span>
                    <span class="kt-menu__link-badge">
                        <span class="kt-badge kt-badge--brand kt-badge--inline kt-badge--pill"
                            [ngClass]="item.badge.type" [translate]="item.badge.translate">{{item.badge.value}}</span>
                    </span>
                </ng-template>
            </ng-container>
        </ng-template>
        <!-- item column -->
        <ng-template #menuColumnTemplate let-item="item">
            <li class="kt-menu__item">
                <h3 class="kt-menu__heading kt-menu__toggle">
                    <span class="kt-menu__link-text" [translate]="item.heading.translate">
                        {{item.heading.title}}
                    </span>
                    <i class="kt-menu__ver-arrow la la-angle-right"></i>
                </h3>
                <ng-container *ngIf="item.items?.length">
                    <ul class="kt-menu__inner">
                        <ng-container *ngFor="let child of item.items">
                            <ng-container [ngTemplateOutlet]="menuTemplate"
                                [ngTemplateOutletContext]="{ item: child, parentItem: item }">
                            </ng-container>
                        </ng-container>
                    </ul>
                </ng-container>
            </li>
        </ng-template>
        <!-- end: Header Menu -->



        <!-- begin:: Header Topbar -->
        <!-- empty div to fix topbar to stay on the right when menu-horizontal is hidden -->
        <div></div>
        <!-- <kt-topbar></kt-topbar> -->
        <div class="kt-header__topbar kt-grid__item">

            <div class="d-flex align-items-center justify-content-center h-100">


                <!-- Start Shift -->

                <!-- <button type="button" class="btn btn-primary">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-play-fill" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM6 5.883v4.234a.5.5 0 0 0 .757.429l3.528-2.117a.5.5 0 0 0 0-.858L6.757 5.454a.5.5 0 0 0-.757.43z" />
                    </svg>
                    Start Shift
                </button> -->



                <!-- <button type="button" class="btn btn-sm button-brand">

                </button>
                <button type="button" class="btn btn-sm button-warning">
                    <i class="fa fa-pause"></i>
                    On Break
                </button>

                <button type="button" class="btn btn-sm button-success">
                    <i class="fa fa-stopwatch"></i>

                </button> -->
            </div>



            <!-- <div ngbDropdown placement="bottom-right" *ngIf="user$ | async as _user" class="kt-header__topbar-item kt-header__topbar-item--user">
              <div ngbDropdownToggle class="kt-header__topbar-wrapper">
                <span class="kt-header__topbar-welcome" *ngIf="greeting">Hi,</span>
                <span class="kt-header__topbar-username" *ngIf="greeting">{{_user.fullname}}</span>
                <span *ngIf="badge" class="kt-header__topbar-icon"><b>{{_user.fullname|firstLetter}}</b></span>
                <img *ngIf="avatar" alt="Pic" [attr.src]="_user.pic">
              </div> -->
            <div ngbDropdown placement="bottom-right" class="kt-header__topbar-item kt-header__topbar-item--user">
                <div ngbDropdownToggle class="kt-header__topbar-wrapper">


                    <span style="margin-right: 5px;background-color: lightgrey;" class="kt-header__topbar-icon">
                        <div class="kt-badge kt-badge--lg kt-badge--rounded kt-badge--bold kt-badge--username">
                            <img src="../../../../../assets/media/default.jpg" alt="">
                        </div>
                    </span>
                    <span class="kt-header__topbar-welcome">Hello,</span>
                    <span class="kt-header__topbar-username">Admin</span>

                </div>

                <div ngbDropdownMenu
                    class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-xl">
                    <!--begin: Head -->
                    <div class="kt-user-card kt-user-card--skin-dark kt-notification-item-padding-x"
                        style=" background-image: url(../../../../../assets/media/bg-1.jpg);">

                        <span class="kt-header__topbar-wrapper">
                            <span style="margin-right: 5px;background-color: lightgrey;" class="kt-header__topbar-icon">
                                <div class="kt-badge kt-badge--lg kt-badge--rounded kt-badge--bold kt-badge--username">
                                    <img src="../../../../../assets/media/default.jpg" alt="">
                                </div>
                            </span>
                        </span>
                        <div class="kt-user-card__name text-white" style="font-size: 15px;">
                            Admin
                        </div>
                        <!-- <div class="kt-user-card__badge">
                    <span class="btn btn-success btn-sm btn-bold btn-font-md">23 messages</span>
                  </div> -->
                    </div>
                    <!--end: Head -->

                    <!--begin: Navigation -->
                    <div class="kt-notification">
                        <a ngbDropdownItem (click)="myProfileClickHandler()" href="javascript:void(0);"
                            class="kt-notification__item">

                            <div class="kt-notification__item-details">
                                <div class="kt-notification__item-title kt-font-bold">
                                    My Profile
                                </div>
                                <div class="kt-notification__item-time">
                                    Account settings and more
                                </div>
                            </div>
                        </a>
                        <a (click)="changePasswordHandler()" ngbDropdownItem href="javascript:;"
                            class="kt-notification__item">
                            <!-- <div class="kt-notification__item-icon">
                      <i class="flaticon2-hourglass kt-font-brand"></i>
                    </div> -->
                            <div class="kt-notification__item-details">
                                <div class="kt-notification__item-title kt-font-bold">
                                    Change Password
                                </div>
                                <!-- <div class="kt-notification__item-time">
                        latest tasks and projects
                      </div> -->
                            </div>
                        </a>
                        <div class="kt-notification__custom">
                            <a href="javascript:;" (click)="logout()"
                                class="btn btn-outline-brand btn-upper btn-sm btn-bold">Sign
                                Out</a>

                        </div>
                        <!--end: Navigation -->

                        <!--begin: Navigation(alternative) -->
                        <ul class="kt-nav kt-margin-b-10 kt-hidden">
                            <li class="kt-nav__item">
                                <a ngbDropdownItem routerLink="profile" class="kt-nav__link">
                                    <span class="kt-nav__link-icon"><i class="flaticon2-calendar-3"></i></span>
                                    <span class="kt-nav__link-text">My Profile</span>
                                </a>
                            </li>
                            <li class="kt-nav__item">
                                <a ngbDropdownItem routerLink="profile" class="kt-nav__link">
                                    <span class="kt-nav__link-icon"><i class="flaticon2-browser-2"></i></span>
                                    <span class="kt-nav__link-text">My Tasks</span>
                                </a>
                            </li>
                            <li class="kt-nav__item">
                                <a ngbDropdownItem routerLink="profile" class="kt-nav__link">
                                    <span class="kt-nav__link-icon"><i class="flaticon2-mail"></i></span>
                                    <span class="kt-nav__link-text">Messages</span>
                                </a>
                            </li>
                            <li class="kt-nav__item">
                                <a ngbDropdownItem routerLink="profile" class="kt-nav__link">
                                    <span class="kt-nav__link-icon"><i class="flaticon2-gear"></i></span>
                                    <span class="kt-nav__link-text">Settings</span>
                                </a>
                            </li>
                            <li class="kt-nav__item kt-nav__item--custom kt-margin-t-15">
                                <a (click)="logout()" class="btn btn-label-brand btn-sm btn-bold">Sign
                                    Out</a>
                            </li>
                        </ul>
                        <!--end: Navigation(alternative) -->
                    </div>
                </div>
            </div>
        </div>
        <!-- end:: Header Topbar -->
    </div>
</div>
<!-- end: Header -->