@import "../../../../../assets/sass/global/layout/config";
@import "../../../../../assets/sass/config";

:host {
	::ng-deep {
		.kt-loading-bar {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			width: 100%;

			.progress-bar {
				background-color: $kt-brand-color;
			}
		}

		.kt-header__topbar-item {
			height: 100%;
		}

		@media (min-width: 1025px) {
			.kt-header__topbar,
			.kt-header__topbar-item-wrapper {
				height: 100%;
			}
		}
	}

	.kt-menu__item--active a {
		background-color: #f5f6fc;
		padding: 0.75rem 1.1rem;
		border-radius: 4px;
	}

	.kt-menu__link-text {
		color: #676c7b !important;
		font-weight: bold !important;
	}

	.kt-menu__item--active .kt-menu__link-text {
		color: #591df1 !important;
		font-weight: bold !important;
	}
}
