<div class="kt-grid kt-grid--ver kt-grid--root">
    <div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v5 kt-login" id="kt_login">
        <div
            class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile background-layer">
            <div class="kt-login__left">
                <div class="kt-login__wrapper">
                    <div class="kt-login__content">
                        <a class="kt-login__logo" href="javascript:;">
                            <img src="../../../../assets/media/logogs/logo-login.png">
                        </a>

                        <h3 class="kt-login__title">All In One Solution for your WorkForce.</h3>

                        <span class="kt-login__desc">
                            Schedule | Timesheet | Client | Employee | Rewards and much more ....
                        </span>
                    </div>
                </div>
            </div>

            <div class="kt-login__right">
                <div class="kt-login__wrapper">
                    <div class="kt-login__body">
                        <div class="">
                            <div class="kt-login__title">
                                <h3 style="font-weight: 600;">Forgot Password</h3>
                            </div>

                            <form class="kt-form" [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()"
                                autocomplete="off">

                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="Enter Email" formControlName="email"
                                        [ngClass]="{ 'is-invalid': forgetPasswordForm.controls.email?.touched   && forgetPasswordForm.controls.email?.errors}">
                                    <span class="text-danger"
                                        *ngIf="(forgetPasswordForm.controls.email?.touched)  && forgetPasswordForm.controls.email.errors?.required">
                                        E-mail is required.
                                    </span>
                                    <span class="text-danger"
                                        *ngIf="(forgetPasswordForm.controls.email?.touched) && forgetPasswordForm.controls.email.errors?.pattern">
                                        E-mail is invaild.
                                    </span>
                                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                                        anyone
                                        else.</small>
                                </div>

                                <!--begin::Action-->
                                <div class="kt-login__actions d-flex align-items-center justify-content-between">
                                    <button type="button" class="btn btn-outline-primary"
                                        (click)="onCancle()">Cancle</button>
                                    <button type="submit" class="btn btn-primary" >Forgot
                                        Password</button>
                                </div>
                                <!--end::Action-->
                            </form>

                            <!--begin::Footer-->
                            <!-- <div class="kt-login__head">
                                <a href="javascript:;" [routerLink]="['./auth']" class="kt-link kt-login__signup-link">
                                    <i class="la la-arrow-left"></i>
                                    Back to Sign In
                                </a>
                            </div> -->
                            <!--end::Footer-->

                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>