<kt-table-sub-header [options]="optionsclient" (subHeaderCallback)="loaddata($event)">
</kt-table-sub-header>

<div class="container-fluid kt-mt-20">
	<div class="kt-portlet mb-0">
			<kt-table #table [rows]="clientAreaList" [count]="count" [options]="tableOptions"
				(tableCallback)="clientAreaTableCallback($event)">
			</kt-table>
	</div>
</div>