<ng-select [multiple]="setting?.templateOptions?.multiple" #api [items]="(options || defaultOptions) | async"
  [addTag]="setting?.templateOptions?.selectOptions?.addTag" bindLabel="{{setting?.templateOptions?.bindLabel}}"
  [(ngModel)]="value" [isOpen]="setting?.templateOptions?.selectOptions?.isOpen"
  bindValue="{{setting?.templateOptions?.bindValue}}"
  placeholder="{{setting?.templateOptions?.placeholder | translate}}"
  [virtualScroll]="true"
  [searchable]="!setting?.templateOptions?.selectOptions?.inputDropDown" typeToSearchText="Type to search"
  (change)="notifyChange($event)" [closeOnSelect]="true"
  appendTo="body">

  <div *ngIf="setting?.templateOptions?.selectOptions?.inputDropDown">
    <!-- header template start -->
    <ng-template #inputDropdown ng-header-tmp>
      <div class="input-group-multi-select position-relative">
        <input #headerInput class="form-control multi-select-search" type="text"
          [placeholder]="setting?.templateOptions?.placeholder ? setting?.templateOptions?.placeholder : 'Enter Text To Search' "
          [ngModelOptions]="{standalone: true}" [(ngModel)]="filterText"
          (input)=" setting?.templateOptions?.searchAsync ? '' : api.filter($event.target.value)" />
        <span class="clear fa fa-times" (click)="api.filter('');filterText = ''"></span>

        <!-- select all button starts -->
        <ng-container *ngIf="setting?.templateOptions?.selectOptions?.selectAll">
          <button (click)="selectAll()" class="mt-2 btn btn-sm btn-secondary">Select all</button>
        </ng-container>
        <!-- select all button ends -->


        <!-- unselect all button starts -->

        <ng-container *ngIf="setting?.templateOptions?.selectOptions?.unSelectAll">
          <button (click)="unSelectAll()" class="mt-2 ml-2 btn btn-sm btn-secondary">Unselect
            all</button>
        </ng-container>
        <!-- unselect all button ends -->

      </div>
    </ng-template>
    <!-- header template end -->
  </div>

  <div *ngIf="setting?.templateOptions?.selectOptions?.checkboxSelection">
    <!-- dropdown template start -->
    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">


      <label class="ng-select-container-checkbox"><span
          class="checked">{{item[setting?.templateOptions?.bindLabel]}}</span>
        <input id="item-{{index}}" type="checkbox" class="checkbox-input" [ngModel]="item$.selected"
          [ngModelOptions]="{standalone: true}">
        <span class="checkmark"></span>
      </label>
    </ng-template>
    <!-- dropdown template end -->
  </div>

</ng-select>
