/* You can add global styles to this file, and also import other style files */
@import "assets/global/layout/config";
@import "./assets/sass/global/layout/config";
@import "./assets/sass/global/layout/config";
@import "assets/custom/prime-table/common.css";
@import "assets/custom/prime-table/theme.css";
@import "assets/custom/prime-table/prime-table.scss";

body {
	background: #007bff;
	background: linear-gradient(to right, #0062e6, #33aeff);
}

app-base-layout {
	height: 100%;

	.kt-grid--root {
		height: 100%;
	}
}

.kt-page--loaded {
	app-base-layout {
		opacity: 0;
		transition: opacity 1s ease-in-out;
	}
}

.kt-datatable__table {
	width: 100% !important;
}
