<div [ngStyle]="{ height: _options.fullPageHeight ? _options?.scrollHeight: undefined }">
    <p-table *ngIf="resetDisable" #table [columns]="_options?.columns"
      [frozenColumns]="_options?.frozenColumns?.length ? _options?.frozenColumns : undefined" [value]="rows"
      [toggleColumns]="toggleColumns" [frozenValue]="frozenRows" [totalRecords]="count" [dataKey]="_options?.dataKey"
      [sortMode]="_options?.sortMode" [multiSortMeta]="_options?.multiSortMeta" [sortField]="_options?.sortField"
      [sortOrder]="_options?.sortOrder" [globalFilterFields]="_options?.globalFilterFields"
      [customSort]="_options?.customSort" [reorderableColumns]="_options?.reorderableColumns"
      [responsive]="_options?.responsive" [selectionMode]="_options?.selectionMode"
      [metaKeySelection]="_options?.metaKeySelection" [scrollable]="_options?.scrollable"
      [scrollHeight]="_options.fullPageHeight ? 'flex' : _options?.scrollHeight" [frozenWidth]="_options?.frozenWidth"
      [resizableColumns]="_options?.resizableColumns" [columnResizeMode]="_options?.columnResizeMode"
      [stateStorage]="_options?.stateStorage" [stateKey]="_options?.stateKey" [paginator]="_options?.paginator"
      [rows]="_options?.rows" [rowsPerPageOptions]="_options?.rowsPerPageOptions" [(first)]="first"
      [(selection)]="selection" [lazy]="_options?.lazy" [showCurrentPageReport]="true"
      currentPageReportTemplate="Showing {first} - {last} of {totalRecords}"
      tableStyleClass="kt-datatable__table {{_options?.style}} {{_options?.sticky ? 'iq-sticky-table' : ''}}"
      (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)" (onPage)="onPage($event)"
      (onSort)="onSort($event)" (onFilter)="onFilter($event)" (onLazyLoad)="onLazyLoad($event)"
      (onRowExpand)="onRowExpand($event)" (onRowCollapse)="onRowCollapse($event)"
      (onContextMenuSelect)="onContextMenuSelect($event)" (onColResize)="onColResize($event)"
      (onColReorder)="onColReorder($event)" (onRowReorder)="onRowReorder($event)"
      (onHeaderCheckboxToggle)="onHeaderCheckboxToggle($event)" (sortFunction)="sortFunction($event)"
      (firstChange)="firstChange($event)" (rowsChange)="rowsChange($event)" (onStateSave)="onStateSave($event)"
      (onStateRestore)="onStateRestore($event)">
      <!-- begin: colgroup setting for scrollable view -->
      <!-- end: colgroup setting for scrollable view -->

      <ng-template pTemplate="caption">
        <div class="table-header kt-inbox">

          <div class="d-flex">
            <!-- Searchbar start -->
            <div class="kt-searchbar mr-2">
              <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">
                    <svg xmlns:xlink="http://www.w3.org/1999/xlink" class="kt-svg-icon" height="24px" version="1.1"
                      viewBox="0 0 24 24" width="24px" xmlns="http://www.w3.org/2000/svg">
                      <g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
                        <rect height="24" width="24" x="0" y="0"></rect>
                        <path
                          d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z"
                          fill="#000000" fill-rule="nonzero" opacity="0.3">
                        </path>
                        <path
                          d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z"
                          fill="#000000" fill-rule="nonzero">
                        </path>
                      </g>
                    </svg>
                  </span>
                </div>
                <input type="text" class="form-control" placeholder="Search" [(ngModel)]="globalFilter"
                  (input)="table.filterGlobal($event.target.value, 'contains')">
              </div>
            </div>

            <button class="kt-inbox__icon ml-2" ngbTooltip="Advance Filters" container="body"
              (click)="collapseExpandFilters()" type="button"><i class="fas fa-filter"></i>
            </button>
          </div>

          <div class="d-flex align-items-center kt-table-subheader">

            <!-- <span class="ml-2" data-toggle="dropdown">1 - 50 of 235</span>
  
            <button class="kt-inbox__icon ml-2">
              <i class="flaticon2-left-arrow"></i>
            </button>
  
            <button class="kt-inbox__icon ml-2">
              <i class="flaticon2-right-arrow"></i>
            </button> -->

            <!-- being: bulk option -->
            <div *ngIf="_options?.bulkOptions?.show && selection && selection.length && rows && rows.length"
              class="d-flex align-items-center">

              <div *ngIf="_options?.checkboxSelection" class="kt-subheader__desc">
                Selected records: {{selection && selection.length}}
              </div>

              <div class="btn-toolbar kt-margin-l-20">
                <!-- begin: bulk section -->
                <div *ngIf="_options?.bulkOptions?.show && _options?.bulkOptions?.options?.length" ngbDropdown
                  [placement]="'bottom-right'" class="dropdown">
                  <a ngbDropdownToggle href="javascript:;" ngbTooltip="Bulk Actions"
                    class="btn btn-outline-brand btn-sm">
                    Bulk Actions
                  </a>
                  <div ngbDropdownMenu class="dropdown-menu dropdown-menu-fit dropdown-menu-export">
                    <ul class="kt-nav">
                      <li class="kt-nav__section kt-nav__section--first">
                        <span class="kt-nav__section-text">Bulk Actions</span>
                      </li>

                      <ng-container *ngFor="let option of _options?.bulkOptions?.options">
                        <!-- begin: export to excel -->
                        <li class="kt-nav__item" ngbDropdownItem (click)="bulkOptionClick(option)">
                          <div class="kt-nav__link">

                            <!-- begin: left icon -->
                            <i *ngIf="option.left?.icon && option.left.show"
                              class="kt-nav__link-icon {{option.left.icon}}"></i>
                            <!-- end: left icon -->

                            <!-- begin: option text -->
                            <span class="kt-nav__link-text">{{option.text}}</span>
                            <!-- end: option text -->

                            <!-- begin: right icon -->
                            <i *ngIf="option.right?.icon && option.right.show"
                              class="kt-nav__link-icon {{option.right.icon}}"></i>
                            <!-- end: right icon -->

                            <!-- begin: badge icon -->
                            <span class="kt-nav__link-badge" *ngIf="option.badge && option.badge?.text">
                              <span
                                class="kt-badge {{ option.badge?.className || 'kt-badge--success' }}">{{option.badge.text}}</span>
                            </span>
                            <!-- end: badge icon -->

                          </div>
                        </li>
                        <!-- end: export to excel -->
                      </ng-container>

                    </ul>
                  </div>
                </div>
                <!-- end: bulk section -->

                <!--  begin: other bulk option buttons -->
                <ng-container *ngFor="let button of _options?.bulkOptions?.buttons">
                  <kt-button [buttonConfig]="button" (buttonClick)="buttonClick($event)"></kt-button>
                </ng-container>
                <!--  end: other bulk option buttons -->
              </div>
            </div>
            <!-- end: bulk option -->

            <!-- begin: export section -->
            <ng-container *ngxPermissionsOnly="_options?.exportOptions?.permission">
              <div *ngIf="_options?.exportOptions?.show" ngbDropdown [placement]="'bottom-right'" class="dropdown">
                <a ngbDropdownToggle href="javascript:;" container="body" ngbTooltip="Export"
                  class="btn btn-outline-brand btn-sm">
                  Export
                </a>
          
              <div ngbDropdownMenu class="dropdown-menu dropdown-menu-fit dropdown-menu-export">
                <ul class="kt-nav">
                  <li class="kt-nav__section kt-nav__section--first">
                    <span class="kt-nav__section-text">Export Tools</span>
                  </li>
                  <!-- begin: export to excel -->
                  <li *ngIf="_options?.exportOptions?.excel?.show" class="kt-nav__item" ngbDropdownItem
                    (click)="exportClick(_options.exportOptions.excel)">
                    <div class="kt-nav__link">
                      <i class="kt-nav__link-icon la la-file-excel-o"></i>
                      <span class="kt-nav__link-text">Excel</span>
                    </div>
                  </li>
                  <!-- end: export to excel -->

                  <!-- begin: export to csv -->
                  <li *ngIf="_options?.exportOptions?.csv?.show" class="kt-nav__item"
                    (click)="exportClick(_options.exportOptions.csv)" ngbDropdownItem>
                    <div class="kt-nav__link">
                      <i class="kt-nav__link-icon la la-file-text-o"></i>
                      <span class="kt-nav__link-text">CSV</span>
                    </div>
                  </li>
                  <!-- end: export to csv -->

                  <!-- begin: export to pdf -->
                  <li *ngIf="_options?.exportOptions?.pdf?.show" class="kt-nav__item"
                    (click)="exportClick(_options.exportOptions.pdf)" ngbDropdownItem>
                    <div class="kt-nav__link">
                      <i class="kt-nav__link-icon la la-file-pdf-o"></i>
                      <span class="kt-nav__link-text">PDF</span>
                    </div>
                  </li>
                  <!-- end: export to pdf -->
                </ul>
              </div>
            </div>
          </ng-container>

            <!-- end: export section -->

            <!-- begin: toggle section -->
            <div *ngIf="_options?.toggleOptions?.show" ngbDropdown [placement]="'bottom-right'" class="dropdown">
              <a ngbDropdownToggle container="body" href="javascript:;" ngbTooltip="Toggle Columns"
                class="btn btn-outline-brand btn-sm">
                Toggle Columns
              </a>
              <div ngbDropdownMenu class="dropdown-menu dropdown-menu-fit dropdown-menu-toggle">
                <form class="kt-form">
                  <ul class="kt-nav">
                    <li class="kt-nav__section kt-nav__section--first">
                      <span class="kt-nav__section-text">Toggle Columns</span>
                    </li>
                    <!-- begin: export to excel -->
                    <li class="kt-nav__section">
                      <div class="form-group">
                        <div class="kt-checkbox-list">
                          <label *ngFor="let column of _options?.toggleOptions?.columns"
                            class="kt-checkbox kt-checkbox--bold kt-checkbox--brand">
                            <input type="checkbox" name="{{column.field}}" [(ngModel)]="column.selected"
                              (change)="columnToggle(column)"> {{column.header}}
                            <span></span>
                          </label>
                        </div>
                      </div>
                    </li>
                    <!-- end: export to excel -->
                  </ul>
                </form>
              </div>
            </div>

            <a href="javascript:;" container="body" ngbTooltip="Reset" class="btn btn-outline-brand btn-sm"
              (click)="onReset()">
              Reset
            </a>
            <!-- end: toggle section -->
          </div>

        </div>
      </ng-template>
      <!-- begin: colgroup setting for scrollable view -->
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup *ngIf="_options?.scrollable">

          <!-- begin: expandable section -->
          <col [ngStyle]="{ width: '4em' }" [attr.data-column]="'expandable'" *ngIf="_options?.expandable">
          <!-- end: expandable section -->

          <!-- begin: reorder column -->
          <col [ngStyle]="{ width: '4em' }" [attr.data-column]="'reorderableRows'" *ngIf="_options?.reorderableRows">
          <!-- end: reorder column -->

          <!-- begin: checkbox column -->
          <col [ngStyle]="{ width: '4em' }" [attr.data-column]="'checkboxSelection'"
            *ngIf="_options?.checkboxSelection">
          <!-- end: checkbox column -->

          <!-- begin: radio column -->
          <col [ngStyle]="{ width: '4em' }" [attr.data-column]="'radioSelection'" *ngIf="_options?.radioSelection">
          <!-- end: radio column -->

          <ng-container *ngFor="let col of columns">
            <col *ngIf="col && col.field" [attr.data-column]="col && col.field"
              [ngStyle]="{ width: col.width, minWidth: col.minWidth }">
          </ng-container>

          <!-- begin: action buttons -->
          <col [attr.data-column]="'actionButtonOptions'" *ngIf="_options?.actionButtonOptions?.show"
            [ngStyle]="{ width: _options?.actionButtonOptions?.width, minWidth: _options?.actionButtonOptions?.minWidth }">
          <!-- begin: action buttons -->

          <!-- begin: action column -->
          <col [attr.data-column]="'actions'" *ngIf="_options?.actions?.show"
            [ngStyle]="{ width: _options?.actions?.width, minWidth: _options?.actions?.minWidth }">
          <!-- begin: action column -->

        </colgroup>
      </ng-template>
      <!-- end: colgroup setting for scrollable view -->

      <!-- begin: table columns setting -->
      <ng-template pTemplate="header" let-columns>
        <tr>
          <!-- begin: expandable section -->
          <th [ngStyle]="{ width: '4em' }" [attr.data-column]="'expandable'" *ngIf="_options?.expandable"
            pResizableColumn>
          </th>
          <!-- end: expandable section -->

          <!-- begin: reorder rows -->
          <th [ngStyle]="{ width: '4em' }" [attr.data-column]="'reorderableRows'" *ngIf="_options?.reorderableRows"
            pResizableColumn>
          </th>
          <!-- end: reorder rows -->

          <!-- begin: header checkbox selection -->
          <th [ngStyle]="{ width: '4em' }" [attr.data-column]="'checkboxSelection'" *ngIf="_options?.checkboxSelection"
            pResizableColumn>
            <div class="text-center">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </div>
          </th>
          <!-- end: header checkbox selection -->

          <!-- begin: header radio selection -->
          <th [ngStyle]="{ width: '4em' }" [attr.data-column]="'radioSelection'" *ngIf="_options?.radioSelection"
            pResizableColumn>
          </th>
          <!-- end: header radio selection -->

          <ng-container *ngFor="let column of columns">
            <th [attr.data-column]="column.field" *ngIf="column" class="" pResizableColumn pReorderableColumn
              [pSortableColumn]="_options?.sortable && column.sortable ? column.field : undefined"
              [ngClass]="{ 'kt-datatable__cell--sorted-active': table.isSorted(column.field) }"
              [ngStyle]="{ width: column?.width, minWidth: column?.minWidth }">
              {{column.header | translate}}
              <p-sortIcon *ngIf="_options?.sortable && column.sortable" [field]="column.field"></p-sortIcon>
            </th>
          </ng-container>

          <th
            [ngStyle]="{ width: _options?.actionButtonOptions?.width, minWidth: _options?.actionButtonOptions?.minWidth }"
            [attr.data-column]="'actionButtonOptions'" *ngIf="_options?.actionButtonOptions?.show" pResizableColumn
            pReorderableColumn>
            {{ _options?.actionButtonOptions?.title | translate}}
          </th>

          <th [ngStyle]="{ width: _options?.actions?.width, minWidth: _options?.actions?.minWidth }"
            [attr.data-column]="'actions'" *ngIf="_options?.actions?.show" pResizableColumn pReorderableColumn>
            Actions
          </th>

        </tr>
        <tr *ngIf="_options.filterable && _options?.expandFilterEnable">
          <!-- begin: expandable section -->
          <th *ngIf="_options?.expandable">
          </th>
          <!-- end: expandable section -->

          <!-- begin: reorder rows -->
          <th *ngIf="_options?.reorderableRows">
          </th>
          <!-- end: reorder rows -->

          <!-- begin: header checkbox selection -->
          <th *ngIf="_options?.checkboxSelection">
          </th>
          <!-- end: header checkbox selection -->

          <!-- begin: header radio selection -->
          <th *ngIf="_options?.radioSelection">
          </th>
          <!-- end: header radio selection -->

          <ng-container *ngFor="let column of columns">
            <th *ngIf="column" class="font-weight-normal search-column">
              <!-- render component base on type start-->
              <ng-container *ngIf="column.filterable && column?.setting?.component">
                <div [ngSwitch]="column.setting.component">

                  <!-- begin: render textbox component -->
                  <kt-sa-datepicker *ngSwitchCase="componentType.DATEPICKER" [value]="filters[column.field]"
                    [setting]="column.setting" (valueChange)="onFilterChange($event)">
                  </kt-sa-datepicker>
                  <!-- render textbox component end -->

                  <!-- begin: render textbox component -->
                  <kt-sa-select *ngSwitchCase="componentType.SELECT" [value]="filters[column.field]"
                    [setting]="column.setting" [options]="filterItems[column.field]"
                    (valueChange)="onFilterChange($event)">
                  </kt-sa-select>
                  <!-- render textbox component end -->

                  <!-- begin: render textbox component -->
                  <kt-sa-textbox *ngSwitchCase="componentType.TEXTBOX" [value]="filters[column.field]"
                    [setting]="column.setting" (valueChange)="onFilterChange($event)">
                  </kt-sa-textbox>
                  <!-- render textbox component end -->
                </div>
              </ng-container>
              <!-- end: render component base on type-->
            </th>
          </ng-container>

          <th *ngIf="_options?.actionButtonOptions?.show">
          </th>

          <th *ngIf="_options?.actions?.show">
          </th>
        </tr>
      </ng-template>
      <!-- end: table columns setting -->

      <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns" let-index="rowIndex" let-rowIndex="rowIndex">
        <tr class="p-selectable-row" [pReorderableRow]="index" [pSelectableRow]="rowData"
          [pSelectableRowIndex]="rowIndex">

          <!-- begin: expand section -->
          <td *ngIf="_options?.expandable" class="ui-resizable-column text-truncate">
            <span class="cursor-pointer text-center" [pRowToggler]="rowData">
              <i [ngClass]="expanded ? 'fa-angle-down' : 'fa-angle-right'"></i>
            </span>
          </td>
          <!-- end: expand section -->

          <!-- begin: reorder rows -->
          <td *ngIf="_options?.reorderableRows" class="ui-resizable-column text-truncate">
            <i class="fa fa-align-justify" pReorderableRowHandle></i>
          </td>
          <!-- end: reorder rows -->

          <!-- begin: checkbox selection -->
          <td *ngIf="_options?.checkboxSelection" class="ui-resizable-column text-truncate">
            <div class="text-center">
              <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
            </div>
          </td>
          <!-- begin: checkbox selection -->

          <!-- begin: radio selection -->
          <td *ngIf="_options?.radioSelection" class="ui-resizable-column text-truncate">
            <div class="text-center">
              <p-tableRadioButton [value]="rowData"></p-tableRadioButton>
            </div>
          </td>
          <!-- end: radio selection -->

          <!-- begin: body template render -->
          <ng-container *ngIf="bodyTemplate">
            <ng-container *ngTemplateOutlet="bodyTemplate; context: { columns: columns}">
            </ng-container>
          </ng-container>
          <!-- end: body template render -->

          <!-- begin: body render with out template -->
          <ng-container *ngIf="!bodyTemplate">
            <ng-container *ngFor="let column of columns; let rowIndex = index">
              <td *ngIf="column" class="ui-resizable-column ">

                <!-- <ng-container *ngIf="column.displayType === displayType.CUSTOM">
                  <ng-container
                    *ngTemplateOutlet="itemTemplate; context: { columns: columns, column: column, item: rowData}">
                  </ng-container>
                </ng-container> -->

                <!-- begin: item template render -->
                <!-- <ng-container *ngIf="column.displayType === displayType.CLICKABLE">
                  <ng-container
                    *ngIf="(_options?.actions?.edit && (!options?.actions?.editVisibleExpression || (options?.actions?.editVisibleExpression && rowData[options?.actions?.editVisibleExpression.field] === options?.actions?.editVisibleExpression.value)))">
                    <a href="javascript:;" (click)="editClick(rowData);">
                      {{ rowData[column.field] }}</a>
                  </ng-container>
                </ng-container> -->
                <!-- end: item template render -->

                <!-- begin: date item render -->
                <!-- <ng-container *ngIf="column.displayType === displayType.DATE">
                  <ng-container>
                    {{ rowData[column.field] | TimezoneDate }}
                  </ng-container>
                </ng-container> -->
                <!-- end: date item render -->

                <!-- begin: date time item render -->
                <!-- <ng-container *ngIf="column.displayType === displayType.DATETIME">
                  <ng-container>
                    {{ rowData[column.field] | TimezoneDateTime }}
                  </ng-container>
                </ng-container> -->
                <!-- end: date time item render -->

                <!-- <ng-container *ngIf="column.displayType === displayType.SWITCH">
                  <div>
                    <kt-sa-switch [value]="rowData[column.field]" [setting]="column.setting" [data]="rowData"
                      (valueChange)="enableDisableClick($event)">
                    </kt-sa-switch>
                  </div>
                </ng-container> -->

                <!-- begin: basic item render -->
                <ng-container *ngIf="!column.displayType">
                  <ng-container>
                    {{ rowData[column.field] }}
                  </ng-container>
                </ng-container>
                <!-- end: basic item render -->
              </td>
            </ng-container>
          </ng-container>
          <!-- end: body render with out template -->


          <td *ngIf="_options?.actionButtonOptions?.show" class="ui-resizable-column">
            <ng-container *ngFor="let button of _options?.actionButtonOptions?.buttons">
              <kt-button [permission]="button.permission"
                *ngIf="!button.visibleExpression || (button.visibleExpression && rowData[button.visibleExpression.field] === button.visibleExpression.value)"
                [buttonConfig]="button" (buttonClick)="buttonClick($event, rowData)"></kt-button>
            </ng-container>
          </td>

          <!-- begin: action section -->
          <td class="ui-resizable-column" *ngIf="_options?.actions?.show">


            <!--  begin: edit section-->
            <ng-container *ngxPermissionsOnly="_options?.actions?.permission?.edit">
              <ng-container
                *ngIf="(!options?.actions?.editVisibleExpression || (options?.actions?.editVisibleExpression && rowData[options?.actions?.editVisibleExpression.field] === options?.actions?.editVisibleExpression.value))">
                <a *ngIf="_options?.actions?.edit" href="javascript:;" (click)="editClick(rowData);"
                  class="btn btn-sm btn-clean btn-icon btn-icon-sm" ngbTooltip="Edit" container="body"><i
                    class="flaticon2-edit"></i> </a>
              </ng-container>
            </ng-container>

            <!--  end: edit section-->

            <!--  begin: view section-->

            <a *ngIf="_options?.actions?.view" href="javascript:;" (click)="viewClick(rowData);"
              class="btn btn-sm btn-clean btn-icon btn-icon-sm" ngbTooltip="View" container="body"> <i
                class="flaticon-eye"></i> </a>

            <!--  end: view section-->
            <ng-container *ngxPermissionsOnly="_options?.actions?.permission?.delete">

              <!--  begin: delete section-->
              <ng-container
                *ngIf="(!options?.actions?.deleteVisibleExpression || (options?.actions?.deleteVisibleExpression && rowData[options?.actions?.deleteVisibleExpression.field] === options?.actions?.deleteVisibleExpression.value))">
                <a *ngIf="_options?.actions?.delete" (click)="deleteClick(rowData);" href="javascript:;"
                  class="btn btn-sm btn-clean btn-icon btn-icon-sm" ngbTooltip="Remove" container="body"> <i
                    class="flaticon2-trash"></i> </a>
              </ng-container>

              <!--  end: delete section-->
            </ng-container>

          </td>
          <!-- end: action section -->

        </tr>
      </ng-template>

      <!-- begin: summary section -->
      <ng-template pTemplate="summary">
        <!-- There are cars -->
      </ng-template>
      <!-- end: summary section -->

      <!-- begin: footer section -->
      <!-- <ng-template pTemplate="footer" let-columns>
        <tr *ngIf="_options?.footerVisible">
          <td *ngFor="let col of columns">
            {{col.header}}
          </td>
        </tr>
      </ng-template> -->
      <!-- end: footer section -->

      <!-- begin: row expansion section -->
      <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
        <tr>
          <td [attr.colspan]="columns.length + 1">
          </td>
        </tr>
      </ng-template>
      <!-- end: row expansion section -->

      <!-- begin: summary section -->
      <ng-template pTemplate="emptymessage">
        <div class="w-100 h-100 d-flex align-items-center justify-content-center">
          <div class="font-size-35" style="font-size: 30px;">
            <i class="flaticon-exclamation"></i>
          </div>&nbsp;
          <span class="font-size-30" style="font-size: 25px;"> No data found.
          </span>
        </div>
      </ng-template>
      <!-- end: summary section -->

    </p-table>
</div>