@import "../../../../../assets/global/layout/config";
$border-color: #e2e5ec;

kt-table {
  .ui-table-caption {
    @media (min-width: 1499px) {
      .kt-container.kt-container--fluid {
        padding: 5px 20px !important;
      }
    }
    @media (min-width: 1025px) {
      .kt-subheader {
        padding: 0 !important;
        margin: 0 !important;
      }
    }
    border-bottom: 1px solid $border-color;
  }

  .ui-table {
    .kt-datatable.kt-datatable--default > .kt-datatable__pager {
      padding: 12px !important;
    }
    .kt-datatable__row {
      outline: none !important;
    }
    .kt-datatable__body {
      .kt-datatable__row {
        &:hover {
          background: #f7f8fa !important;
        }
      }
    }

    .kt-datatable__head {
      .kt-datatable__row {
        .kt-datatable__cell {
          outline: none;
          &:hover {
            background: #f7f8fa !important;
          }
        }
      }
    }

    .kt-datatable__cell--sorted-active {
      color: $kt-brand-color;
    }
  }
  .kt-radio {
    margin-bottom: 0px;
  }
  .kt-radio {
    span {
      top: 50%;
    }
  }
}
.ui-chkbox-box {
  &.kt-checkbox {
    margin-bottom: 0px;
  }
}

.kt-datatable.kt-datatable--default
  > .kt-datatable__table
  > .kt-datatable__head
  .kt-datatable__row
  > :first-child.kt-datatable__cell,
.kt-datatable.kt-datatable--default
  > .kt-datatable__table
  > .kt-datatable__body
  .kt-datatable__row
  > :first-child.kt-datatable__cell,
.kt-datatable.kt-datatable--default
  > .kt-datatable__table
  > .kt-datatable__foot
  .kt-datatable__row
  > :first-child.kt-datatable__cell {
  padding-left: 10px;
}

.kt-scroll-datatable > .kt-datatable__table > .kt-datatable__head {
  .kt-datatable__row {
    > .kt-datatable__cell {
      padding: 13px 10px;
      font-weight: 600;
    }
  }
}

.kt-datatable__row {
  .font-size-35 {
    font-size: 35px;
  }
  .font-size-30 {
    font-size: 30px;
  }
}

.kt-scroll-datatable > .kt-datatable__table > .kt-datatable__head .kt-datatable__row,
.kt-scroll-datatable > .kt-datatable__table > .kt-datatable__body .kt-datatable__row {
  border-bottom: 1px solid $border-color;
}

.kt-scroll-datatable > .kt-datatable__table > .kt-datatable__body .kt-datatable__row > .kt-datatable__cell {
  padding: 4px 20px;
}

.kt-scroll-datatable > .kt-datatable__table > .kt-datatable__body .kt-datatable__row > :first-child.kt-datatable__cell {
  padding-left: 20px;
}

.search-column {
  padding: 0.5rem !important;
}

.kt-table-subheader .btn:not(.dropdown-toggle-split) {
  margin-left: 0.25rem;
}

.kt-inbox__icon {
  border: 0;
  background: #f7f8fa;
  outline: 0 !important;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  transition: all 0.3s ease;
  cursor: pointer;
  margin: 0;
  border-radius: 4px;
}
