<div class="modal-content">

	<!-- modal header start -->
	<div class="modal-header">
		<h4 class="modal-title">{{title | translate}}</h4>
		<div>
			<span class="mr-2" *ngIf="rightTitle" style="vertical-align: sub;">
				<b> {{rightTitle}} </b>
			</span>
			<!-- <i class="fa fa-times" aria-hidden="true" (click)="closeClickHandler()"></i> -->

			<button type="button" class="model-close" >
				<i class="fa fa-times" aria-hidden="true" (click)="closeClickHandler()"></i>
			</button>

		</div>
	</div>
	<!-- modal header end -->

	<!-- modal body start -->
	<div class="modal-body">
		<ng-content select="[modal-body]"></ng-content>
	</div>
	<!-- modal body end -->

	<!-- modal footer start -->
	<div class="modal-footer" *ngIf="showFooter">
		<ng-content select="[modal-footer]"></ng-content>
	</div>
	<!-- modal footer end -->

</div>