.modal-content {
  height: 100%;
}

.modal-body {
  overflow-y: auto;
  overflow-x: hidden
}

.kt-portlet {
  margin-bottom: 0px !important;
}

.model-close{
  background: transparent;
  border: 0;
}

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%)) {
  ::-webkit-scrollbar {
    width: $size;
    height: $size;
  }
  ::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }
  ::-webkit-scrollbar-track {
    background: $background-color;
  } // For Internet Explorer
  body {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

@include scrollbars(0.5em, slategray);
