
<ng-container *ngxPermissionsOnly="(buttonConfig.permission || permission)">
    <!-- template selection according to config start -->
  <ng-container *ngIf="buttonConfig.type === buttonConfigType.Group">
      <div  class='btn-group btn-group'>
          <!-- render button group start -->
          <ng-container *ngFor="let option of buttonConfig.options">
              <ng-template [ngTemplateOutlet]="buttonTemplate" [ngTemplateOutletContext]="{ $implicit: option }">
              </ng-template>
          </ng-container>
          <!-- render button group end -->
      </div>
  </ng-container>
  <!-- template selection according to config end -->
  
  <!-- render single button start -->
  <ng-container *ngIf="buttonConfig.type === buttonConfigType.Single">
    <span [ngbTooltip]="buttonConfig.tooltip" container="body" [tooltipClass]="'tooltip-z-index'">
      <ng-template [ngTemplateOutlet]="buttonTemplate" [ngTemplateOutletContext]="{$implicit: buttonConfig.options}">
      </ng-template>
    </span>
  </ng-container>
  <!-- render single button end -->
  
  <!-- button template start -->
  <ng-template #buttonTemplate let-option>
      <button  [type]="option.type" [disabled]="loading" class="{{option.className}} {{loading && option.loadingClass}}" (click)="clickHandler(option)">
          <i *ngIf="option.left && option.left.show" [class]="option.left.icon"></i>
          {{option.text | translate}}
          <i *ngIf="option.right && option.right.show" [class]="option.right.icon"></i>
      </button>
  </ng-template>
  <!-- button template end -->
  </ng-container>
  
  